---
layout: mapping
properties:
-
    name: name
    description: 'A descriptive name for the dataset'
    marginality: minimum
    functional: true
    operational: false
    guideline: ""
    url: ""
-
    name: description
    description: 'A short summary describing a dataset'
    marginality: minimum
    functional: true
    operational: false
    guideline: Description
    url: 'https://docs.google.com/document/d/1ZxkUCLubazoEAslso5dR142oZ_ultvcBCZ5Y8b_Yp-I/edit?usp=sharing'
-
    name: identifier
    description: 'The identifier property represents any kind of identifier for any kind of dataset'
    marginality: minimum
    functional: true
    operational: false
    guideline: 'Unique Identifier'
    url: 'https://docs.google.com/document/d/1KO2HBeQq-BcMgtwKDxFQfRKI1R8V-m4TRkTl_YEW5nw/edit?usp=sharing'
-
    name: url
    description: 'The location of a page describing the dataset'
    marginality: minimum
    functional: true
    operational: true
    guideline: 'Location (URL)'
    url: 'https://docs.google.com/document/d/1wcLJ43G0MMvJCOXyrud5ChgsmvHdG4veWJjJZZt3dSk/edit?usp=sharing'
-
    name: creator
    description: 'The creator/author of this dataset'
    marginality: minimum
    functional: true
    operational: true
    guideline: Originator
    url: 'https://docs.google.com/document/d/1vpvYTt4r4ijprvOx67ejpnJgaOuP-xhIkhhnyxS_nCI/edit?usp=sharing'
-
    name: dateCreated
    description: 'The date on which the dataset was created'
    marginality: minimum
    functional: true
    operational: true
    guideline: 'Temporal coordinates'
    url: 'https://docs.google.com/document/d/1KB-scjM7sik59TEty_NyPjGOtf5gXSecOwXJlijWxF8/edit?usp=sharing'
-
    name: license
    description: 'A license under which the dataset is distributed'
    marginality: minimum
    functional: true
    operational: true
    guideline: Availability
    url: 'https://docs.google.com/document/d/1X40HaojHiF6e928V2nsVDKXcCeNOYIW4Mgvsq_7fD4I/edit?usp=sharing'
-
    name: dataStandard
    description: 'The standard in which the content of the dataset is represented'
    marginality: minimum
    functional: true
    operational: true
    guideline: ""
    url: ""
-
    name: dateModified
    description: 'The date on which the dataset was most recently modified'
    marginality: minimum
    functional: false
    operational: true
    guideline: ""
    url: ""
-
    name: structure
    description: 'The description of the structure of the dataset'
    marginality: minimum
    functional: false
    operational: true
    guideline: Schema
    url: 'https://docs.google.com/document/d/1ewcWDIJQTWglXGySv28ORMgqrurdQsD9_pDzn8ec7uc/edit?usp=sharing'
-
    name: accessUrl
    description: 'The link to download the dataset'
    marginality: minimum
    functional: false
    operational: true
    guideline: ""
    url: ""
-
    name: accessInterface
    description: 'The type of interface to present the dataset'
    marginality: minimum
    functional: false
    operational: true
    guideline: ""
    url: ""
-
    name: includedeIn
    description: 'A dataset or data catalog which contains the dataset'
    marginality: recommended
    functional: true
    operational: true
    guideline: ""
    url: ""
-
    name: measurementTechnique
    description: 'A technique or technology used in a dataset corresponding to the method used for measuring the corresponding variables'
    marginality: recommended
    functional: true
    operational: false
    guideline: ""
    url: ""
-
    name: keywords
    description: 'Keywords or tags used to describe the dataset'
    marginality: recommended
    functional: true
    operational: false
    guideline: Keywords
    url: 'https://docs.google.com/document/d/10Yy-FcUHzDma-2-6gM2lE6f1EMgeW2N8iFL8-jFNttg/edit?usp=sharing'
-
    name: variablesMeasured
    description: 'The variables that are measured in the dataset'
    marginality: recommended
    functional: true
    operational: false
    guideline: ""
    url: ""
-
    name: format
    description: 'The format in which the content of the dataset is encoded to present the information, typically a MIME format'
    marginality: recommended
    functional: false
    operational: true
    guideline: 'Medium / Format'
    url: 'https://docs.google.com/document/d/1cd8cxKKgksdqaftPym24SmwOx7IxQdNebGiHQSCXT0M/edit?usp=sharing'
-
    name: scientificType
    description: 'Scientific domain or type of the information provided in the datataset'
    marginality: recommended
    functional: false
    operational: true
    guideline: ""
    url: ""
-
    name: includes
    description: 'A dataset or data catalog contained in the dataset'
    marginality: recommended
    functional: false
    operational: true
    guideline: ""
    url: ""
-
    name: contentType
    description: 'Type of content provided in the dataset based on its origin and type of processes (raw, processed, summarised)'
    marginality: recommended
    functional: false
    operational: true
    guideline: ""
    url: ""
-
    name: size
    description: 'Size of the dataset using a digital information multiple unit byte siymbol (MB, GB, PT, ...)'
    marginality: recommended
    functional: false
    operational: true
    guideline: ""
    url: ""
-
    name: authentications
    description: 'Type of authentication required to access the dataset'
    marginality: recommended
    functional: false
    operational: true
    guideline: ""
    url: ""
-
    name: version
    description: 'The version of the dataset'
    marginality: optional
    functional: true
    operational: true
    guideline: ""
    url: ""
-
    name: metric
    description: 'Metric to provide some quantitative or qualitative information about the dataset'
    marginality: optional
    functional: true
    operational: true
    guideline: ""
    url: ""
-
    name: sameAs
    description: 'Other URLs that can be used to access the dataset page'
    marginality: optional
    functional: true
    operational: false
    guideline: ""
    url: ""
-
    name: spatialCoverage
    description: 'The location depicted or described in the content'
    marginality: optional
    functional: true
    operational: false
    guideline: 'Spatial coordinates'
    url: 'https://docs.google.com/document/d/124gKNFNvli_iv0UxJ-J8nasMXbwRgTTNoY5afpNXvBM/edit?usp=sharing'
-
    name: temporalCoverage
    description: 'The property indicates the period that the content applies to'
    marginality: optional
    functional: true
    operational: false
    guideline: ""
    url: ""
-
    name: citation
    description: 'A citation or reference to another work that describes the dataset'
    marginality: optional
    functional: true
    operational: false
    guideline: Citations
    url: 'https://docs.google.com/document/d/1P6g-8f8DMmPsm4jCXag9Sa-Utydg8hln6dWUvgCLHGs/edit?usp=sharing'
-
    name: referenceCitation
    description: 'A citation or reference to that describes the dataset'
    marginality: optional
    functional: false
    operational: true
    guideline: 'Related publications'
    url: 'https://docs.google.com/document/d/1r8VMdMY8cHsBdjTHVAz7kK87IFh6auEF-UL6JMHFlEA/edit?usp=sharing'
-
    name: compression
    description: 'Type of compression used in the dadataset'
    marginality: optional
    functional: false
    operational: true
    guideline: ""
    url: ""
-
    name: authorisations
    description: 'Type of authorisation required to access the dataset'
    marginality: optional
    functional: false
    operational: true
    guideline: ""
    url: ""
---


<div id="properties-page">
    <h1 itemprop="name headline">EDMI metadata properties</h1>
    
    {% assign properties = page.properties %}

    <div id="properties-table">
        <div class="controls">
            <input class="search" placeholder="Search..." />
            <div class="filter">
                <a class="btn waves-effect waves-light" id="filter-none">Show all</a>
                <a class="btn waves-effect waves-light" id="filter-minimum">Minimum</a>
                <a class="btn waves-effect waves-light" id="filter-recommended">Recommended</a>
                <a class="btn waves-effect waves-light" id="filter-optional">Optional</a>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                    <th>Functional</th>
                    <th>Operational</th>
                    <th>Marginality</th>
                    <th>RDA Metadata guideline</th>
                </tr>
            </thead>
            <tbody class="list">
                {% for property in properties %}
                <tr>
                    <td class="name"><strong>{{property.name}}</strong></td>
                    <td>{{property.description}}</td>
                    <td>
                        {% if property.functional %}
                        <i class="mdi mdi-checkbox-marked-outline mdi-24px blue-check-box"></i>
                        {% else %}
                        <i class="mdi mdi-checkbox-blank-outline mdi-24px"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if property.operational %}
                        <i class="mdi mdi-checkbox-marked-outline mdi-24px blue-check-box"></i>
                        {% else %}
                        <i class="mdi mdi-checkbox-blank-outline mdi-24px"></i>
                        {% endif %}
                    </td>
                    <td class="marginality">{{property.marginality}}</td>
                    <td class="guideline">
                        {% if property.guideline != "" %}
                        <a href="{{property.url}}">{{property.guideline}}</a>
                        {% else %}
                        <span class="no-guideline">No guideline yet</span> <i class="mdi mdi-link-off mdi-16px"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
