<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/materialize.js"></script>
<script src="{{site.baseurl}}/assets/js/init.js"></script>
</body>
<footer class="page-footer">
  <div class="footer-copyright" style="padding-left: 30px">
    <i class="material-icons" style="padding-right:5px">copyright</i><p>2018 Copyright {{ site.name }} | This page is available under the <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Creative Commons Attribution-ShareAlike License</a></p>
  </div>
</footer>
</html>
