---
# Only the main Sass file needs front matter (the dashes are enough)
---
// Syntax highlighting sass properties and inclusion
$base-font-size: 1em;
$spacing-unit : 30px !default;

// COLOR MATCHER: https://coolors.co/40bbf7-666666-f9f9f9-4c5760-93a8ac
// EOSC brand 
$picton-blue: #40BBF7;
$granite-grey: #666666;
// Complementary colors
$snow: #F9F9F9;
$granny-smith-apple:#9EE493;
$cadet-blue: #5C9EAD;
$prussian-blue: #133C55;
$independence: #4C5760;
$cadet-gray: #93A8AC;

$palette-background: $snow;
$palette-dark-background: #4F6D7A;
$palette-primary: $picton-blue;
$palette-secondary: $granite-grey;
$palette-tertiary: $cadet-blue;

$font-family-primary: 'Helvetica Neue',
sans-serif;
$font-family-secondary: 'Georgia',
serif;

$palettes: ( 
    light: ( 
        bg: $snow, fg: $granite-grey, primary: $picton-blue, secondary: $independence, tertiary: $cadet-gray, 
    ), 
    dark: (
        bg: #000, fg: #fff, primary: #333, secondary: #666, tertiary: #888, 
        ),
    );

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

@import "mixins",
"syntax-highlighting",
"dataset",
"landing";